{% extends "base.html" %}

{% block breadcrumb %}
<li><a href="/">Home</a> <span class="divider">/</span></li>
<li><a href="{% url 'minimo.cliente.views.clienti' %}">Elenco Clienti</a> <span class="divider">/</span></li>
<li><a href="#">{{c}}</a></li>
{% endblock %}


{% block meta_title %}Dettaglio cliente{% endblock %}
{% block title %}<i class="icon-user"></i> Dettaglio Cliente {% endblock%}

{% block js %}
	<script>
		function CancellaCliente() {
				if ( confirm("Vuoi veramente cancellare il Cliente {{c.ragione_sociale}}?") ) {
						document.location.href = "{% url 'minimo.cliente.views.eliminacliente' c.id %}";
						}
				}
	</script>

{% endblock %}


{% block main %}

<h3>Informazioni:</h3>
<table class="table">
	<tr>
		<td><h5>Ragione sociale</h5></td>
		<td>{{c.ragione_sociale}}</td>
	</tr>
	<tr>
		<td><h5>Indirizzo</h5></td>
		<td>{{c.indirizzo}}</td>
	</tr>
	<tr>
		<td><h5>Codice Fiscale</h5></td>
		<td>{{c.cod_fiscale}}</td>
	</tr>
	<tr>
		<td><h5>Partita IVA</h5></td>
		<td>{{c.p_iva}}</td>
	</tr>
	<tr>
		<td><h5>Telefono</h5></td>
		<td>{{c.telefono}}</td>
	</tr>
	<tr>
		<td><h5>E-Mail</h5></td>
		<td>{{c.mail}}</td>
	</tr>
</table>

<h3>Fatture:</h3>

<table class="table table-striped" id="fatture">
				<thead>
				<tr>
					<th>ID</th>
					<th>Data</th>
					<th>Totale</th>
					<th>Pagata</th>
				</tr>
				</thead>
				<tbody>
					
				{% for fattura in f %}

				<tr>
					<td><a href="{% url 'minimo.fattura.views.fattura' fattura.id %}" ><i class="icon-search"> </i> 
						{{fattura}}</a></td>
					<td>{{fattura.data}}</td>
					<td>{{fattura.totale}} €</td>
					<td>
						{% if fattura.stato %}<i class="icon-check"></i>
						{% else %}<i class="icon-check-empty"></i>{% endif %}
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>

{% endblock %}

{% block left %}
<h4>Azioni</h4>
<a href="{% url 'minimo.cliente.views.modificacliente' c.id %}" class="btn btn-block "><i class="icon-edit"></i> modifica</a>
<a href="#" class="btn btn-block " onClick="CancellaCliente();"><i class="icon-trash"></i> elimina</a>

{% endblock%}