{% extends "base.html" %}

{% block js %}

{% endblock %}

{% block submenu %}
    <ul class="nav nav-pills">
        <li id="fattura"><a href="{% url 'minimo.movimento.views.movimenti' %}">Movimenti</a></li>
        <li id="ritenuta"><a href="{% url 'minimo.movimento.views.documenti' %}">Documenti acquisto</a></li>
    </ul>
{% endblock submenu %}

{% block left  %}
	
	<h4>Azioni</h4>
	<a href="{% url 'minimo.movimento.views.nuovodocumento' %}" class="btn btn-block "><i class="icon-plus"> </i> Registra un nuovo documento</a>
	<a href="{% url 'minimo.movimento.views.nuovomovimento' %}" class="btn btn-block "><i class="icon-plus"> </i> Inserisci un movimento</a>
	
{% endblock left %}