{% extends "documento/base.html" %}

{% block breadcrumb %}
<li><a href="#">Home</a> <span class="divider">/</span></li>
<li><a href="{% url 'minimo.documento.views.home' %}">Elenco Documenti</a></li>
{% endblock %}

{% block meta_title %}Elenco Documenti {% endblock %}
{% block title %}<i class="icon-file-text"></i>




{% block main %}

<div class="large-12 columns">
</br>
<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
		{% for anno in anni %}
		<li {%if forloop.last %} class="active" {% endif%} ><a href="#tab-{{ forloop.counter }}" data-toggle="tab">{{anno}}</a></li>
		{% endfor %}
    </ul>
    <div class="tab-content">
		{% for anno,f in documenti %}
			<div class="tab-pane fade in {%if forloop.last %}active{% endif%}" id="tab-{{ forloop.counter }}">
				<table class="table table-striped" id="movimenti-{{anno}}">
								<thead>
								<tr>
									<th>Data</th>
									<th>Data documento</th>
									<th>Numero</th>
									<th>Scadenza</th>
									<th>Descrizione</th>
									<th>Importo</th>
								</tr>
								</thead>
								<tbody>
								{% for fattura in f %}
				
								<tr>
									<td>
										{{fattura.data}}
									</td>
									<td>
										{{fattura.data_documento}}
									</td>
									<td>
										{{fattura.numero}}
									</td>
									<td>
										{{fattura.scadenza_pagamento}}
									</td>
									<td>
										{{fattura.descrizione}}
									</td>
									<td>
										{{fattura.importo}}
									</td>
								</tr>
								</tbody>
				</table>
			</div>
        {% endfor %}
</div>