{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load fattura_extras %}

{% block meta_title %}Dettaglio fattura{% endblock %}

{% block breadcrumb %}
<li><a href="/">Home</a> <span class="divider">/</span></li>
<li><a href="{% url 'minimo.fattura.views.fatture' %}">Elenco Fatture</a> <span class="divider">/</span></li>
<li><a href="#">Fattura {{f}}</a></li>
{% endblock %}

{% block title %}<i class="icon-file-text"></i>  Dettaglio Fattura {% endblock%}

{% block js %}
	<script type="text/javascript" charset="utf-8">
		
		function CancellaFattura() {
				if ( confirm("Vuoi veramente cancellare la fattura {{f}}?") ) {
						document.location.href = "{% url 'minimo.fattura.views.eliminafattura' f.id %}";
						}
				}

		$(function(){
			$.getJSON("{% url 'minimo.tassa.views.get_imposta' %}", function(data){
				var options = '';
				$.each(data, function(key, val) {
					options += '<option value="' + key + '">' + key + '</option>';
				});
			  $("#id_descrizione_iva").html(options);
			})
		})
	</script>

{% endblock %}

{% block main %}

<h3>Informazioni:</h3>
<table class="table">
	<tr>
		<td><h5>Data</h5></td>
		<td>{{f.data}}</td>
	</tr>
	<tr>
		<td><h5>Cliente</h5></td>
		<td>{{f.ragione_sociale}}</td>
	</tr>
	<tr>
			<td><h5>Tipo documento</h5></td>
			<td>{% if f.tipo == 'RA' %}
					Ritenuta d'acconto
				{% endif %}
				{% if f.tipo == 'FA' %}
					Fattura
				{% endif %}
			</td>
	</tr>
	
	<tr> 
		<td><h5>Marca da bollo</h5></td>
		<td>
		{%if f.valore_bollo %}
		{{f.bollo}} ({{f.valore_bollo}} €)
		{%else%}
		No
		{%endif%}
		</td>
	</tr>
	<tr {% if not f.stato %} class="error" {% endif %} > 
		<td><h5>Stato pagamento</h5></td>
		<td>
			{{ f.stato_pagamento }}
		</td>
	</tr>
	<tr>
		<td><h5>Template</h5></td>
		<td>{{f.template}}</td>
	</tr>
	<tr>
		<td><h5>Tipo pagamento</h5></td>
		<td>{{f.pagamento}}</td>
	</tr>	
</table>

<h3>Prestazioni:</h3>

<table class="table table-striped" id="fatture">
	<thead>
		<tr>
			<th>Descrizione</th>
			<th>Prezzo unitario</th>
			<th>Quantità</th>
			
			{% if f.tipo == "FA"%}
				<th>IVA</th>
			{% endif %}
			<th>Importo</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for p in f.prestazione_fattura.all %}
		<tr>
			<td>{{p.descrizione}}</td>
			<td>{{p.importo_unitario}}</td>
			<td>{{p.quantita}}</td>
			{% if f.tipo == "FA"%}
				<td>{%if p.iva %}{{p.iva}} % {%endif%}</td>
			{% endif %}
			<td> {{p.importo}} €</td>
			<td>
				<div class="btn-group">
					<a {% if f.stato %} href="#" {% else %} href="{% url 'minimo.fattura.views.modificaprestazione' p.id %}" {% endif %} class="btn  btn-small {% if f.stato %} disabled {% endif %}"><i class="icon-edit"></i> modifica</a>
					<a {% if f.stato %} href="#" {% else %} href="{% url 'minimo.fattura.views.eliminaprestazione' p.id %}" {% endif %} class="btn  btn-small {% if f.stato %} disabled {% endif %}"><i class="icon-trash"></i> elimina</a>
				</div>
			</td>
		</tr>
	{% endfor %}
		{% if not f.stato %}
		<tr>
		<td> 
		 	<form  method="post" action="{% url 'minimo.fattura.views.nuovaprestazione' f.id %}">{% csrf_token %}
		 	<textarea class="textarea" id="id_descrizione" name="descrizione" rows="5" style="width:90%;"></textarea>
		 </td>
		 <td>
		 	<div class="input-append">
		 	<input class="textinput textInput" id="id_importo_unitario" name="importo_unitario" type="text" /> <span class="add-on"><i class="icon-money"></i></span>
		 	</div>
		 </td>
		 <td>
		 	<div class="input-append">
		 	<input class="textinput textInput" id="id_quantita" name="quantita" type="text" /> <span class="add-on"><i class="icon-money"></i></span>
		 	</div>
		 </td>
		{% if f.tipo == "FA"%}
			<td>
				<div class="input-append">
					<!--<input class="textinput textInput" id="id_iva" name="iva" type="text" /> <span class="add-on"><i class="icon-tag"></i></span>-->
					<select name="descrizione_iva" id="id_descrizione_iva"><option value="1">---</option></select>
				</div>
			</td>
		{% endif %}
		 <td>
		 	<input type="submit" name="save" value="Aggiungi" class="btn btn-primary btn-primary" id="submit-id-save"/> </form>
    	</td>
		
		</tr>
		{% endif %}
	</tbody>
</table>

<h3>Importo:</h3>

<table class="table table-striped" id="fatture">

	<tr>
		<td>Imponibile</td>
		<td></td>
		<td>{{f.imponibile}} <i class="icon-eur"></i></td>
	</tr>
	
	{% if f.tipo == 'FA' %}
	<tr>
		<td>Totale IVA</td>
		<td></td>
		<td>+ {{f.iva_totale}} <i class="icon-eur"></i></td>
	</tr>
	{% endif %}
	{% for i in f.ritenute.all %}
	<tr>
		<td>{{i.nome}}</td>
		<td>{{i.aliquota}} %</td>
		<td>- {{i|tot_imposta:f.totale}} <i class="icon-eur"></i></td>
	</tr>
	{% endfor %}
	<tr >
		<td>Marca da bollo</td>
		<td></td>
		<td>{%if f.valore_bollo %}+ {{f.valore_bollo}}{%else%}0{%endif%} <i class="icon-eur"></i></td>
	</tr>
	<tr class="totale">
		<td>totale</td>
		<td></td>
		<td>{{ f.totale }} <i class="icon-eur"></i></td>
	</tr>
</table>

{% endblock %}

{% block left %}
<h4>Azioni</h4>
<a {% if f.stato %} href="#" {% else %} href="{% url 'minimo.fattura.views.incassa_fattura' f.id %}" {% endif %} class="btn btn-block {% if f.stato %} disabled {% endif %}"><i class="icon-money"> </i>Incassa</a>
<a {% if f.stato %} href="#" {% else %} href="{% url 'minimo.fattura.views.modificafattura' f.id %}" {% endif %} class="btn btn-block {% if f.stato %} disabled {% endif %}"><i class="icon-edit"></i> modifica</a>
<a {% if f.stato %} href="{% url 'minimo.fattura.views.sblocca_fattura' f.id %}" {% else %} href="#" {% endif %} class="btn btn-block {% if f.stato %} enabled {% else %} disabled {% endif %}"><i class="icon-lock"></i> Sblocca</a>
<a href="#" class="btn btn-block " onClick="CancellaFattura();"><i class="icon-trash"></i> elimina</a>
<a href="{% url 'minimo.fattura.views.stampa_fattura' f.id %}" class="btn btn-block "><i class="icon-print"></i> stampa</a>
<a href="{% url 'minimo.fattura.views.invio_fattura' f.id %}" class="btn btn-block"><i class="icon-envelope"> </i>Email</a>

{% endblock%}