{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta_title %}{{azione}} fattura{% endblock %}
{% block title %} {{azione}} Fattura {% endblock %}	

{% block head %}
	<link href="/static/css/datetimepicker.css" rel="stylesheet">
	<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/static/js/locales/bootstrap-datetimepicker.it.js"></script>
{% endblock%}

{% block breadcrumb %}
<li><a href="/">Home</a> <span class="divider">/</span></li>
<li><a href="{% url 'minimo.fattura.views.fatture' %}">Elenco Fatture</a> <span class="divider">/</span></li>
<li><a href="#">{{azione}} Fattura</a></li>
{% endblock %}



{% block main-large %}

<script>
window.onload = function() 
{ 
	$(".dateinput").datetimepicker({format: 'dd/mm/yyyy',autoclose: true, minView:2, language: 'it'});
};
</script>

  {% crispy form %}

</div>

{% endblock %}