{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta_title %}{{azione}} template{% endblock %}
{% block title %}<i class="icon-picture"></i> {{azione}} Template {% endblock %}	

{% block head %}
	<link href="/static/css/datetimepicker.css" rel="stylesheet">
	<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/static/js/locales/bootstrap-datetimepicker.it.js"></script>
{% endblock%}

{% block breadcrumb %}
<li><a href="/">Home</a> <span class="divider">/</span></li>
<li><a href="{% url 'minimo.template.views.template' %}">Elenco Template</a> <span class="divider">/</span></li>
<li><a href="#"> {{azione}} Template</a></li>
{% endblock %}



{% block main-large %}

  {% crispy form %}

{% endblock %}